# API Configuration
API_URL=http://localhost:3000
API_HOST=0.0.0.0
API_PORT=3000
DEBUG=True

# Database Configuration
DB_HOST=db
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=your_database_name

# QR Code Configuration
QR_MIN_VALUE=0.05
QR_SHORT_ID_LENGTH=8

# Security Configuration
CORS_ORIGINS=*
RATE_LIMIT=100
RATE_LIMIT_PERIOD=1

# Logging Configuration
LOG_LEVEL=INFO 